.play-ground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  background-color: #fef5ff;
}

.play-ground__body {
  min-height: 460px;
  width: 100%;
  background-color: #47d3ef;
  border-top: 3px solid #47afff;
  border-bottom: 3px solid #47afff;
}
