body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #1a1a2e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Machine Gunk";
  src: url("/public/MachineGunk-nyqg.ttf");
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Machine Gunk" !important;
  overflow-x: hidden;
}
